<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>Qooxdoo Remote Java Objects</display-name>
	
	<servlet>
		<servlet-name>sampleServlet</servlet-name>
		<servlet-class>com.zenesis.qx.remote.test.SampleServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>explorerServlet</servlet-name>
		<servlet-class>com.zenesis.qx.remote.explorer.FileExplorerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sampleServlet</servlet-name>
		<url-pattern>/sampleServlet/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>explorerServlet</servlet-name>
		<url-pattern>/explorerServlet/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>QxUrlRewriteFilter</filter-name>
		<filter-class>com.zenesis.qx.utils.QxUrlRewriteFilter</filter-class>
		<init-param>
			<param-name>rewrite-1</param-name>
			<param-value>/qooxdoo=D:/dev/QRJO/qooxdoo</param-value>
		</init-param>
		<init-param>
			<param-name>rewrite-2</param-name>
			<param-value>/qrjo-lib=D:/dev/QRJO/WebContent/qrjo-lib</param-value>
		</init-param>
		<init-param>
			<param-name>rewrite-3</param-name>
			<param-value>/demoapp=D:/dev/QRJO/WebContent/demoapp</param-value>
		</init-param>
		<init-param>
			<param-name>rewrite-4</param-name>
			<param-value>/explorer=D:/dev/QRJO/WebContent/explorer</param-value>
		</init-param>
		<init-param>
			<param-name>rewrite-5</param-name>
			<param-value>/arraytest=D:/dev/QRJO/WebContent/arraytest</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>QxUrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>