<?xml version="1.0"?><settings>
  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>qooxdoo</id>
          <url>http://qooxdoo-contrib.sourceforge.net/maven/repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>qooxdoo</id>
          <url>http://qooxdoo-contrib.sourceforge.net/maven/repository</url>
        </pluginRepository>
      </pluginRepositories>
      <id>qooxdoo</id>
    </profile>
  </profiles>
  <pluginGroups>
    <pluginGroup>org.qooxdoo.toolkit</pluginGroup>
  </pluginGroups>
</settings>
