body {
  font: 13px Verdana, Arial, Helvetica;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: navy;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: maroon;
}
