<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>TPY=${TM_PYTHON:-python}

"$TPY" "$TM_BUNDLE_SUPPORT/create.py" TestCase.js "$TM_NEW_FILE" &gt; "$TM_NEW_FILE"</string>
	<key>extension</key>
	<string>js</string>
	<key>name</key>
	<string>qooxdoo TestCase</string>
	<key>uuid</key>
	<string>2467E114-B72D-46E7-B388-6130F1E14831</string>
</dict>
</plist>
