<config>
  <backend>
    
    <projectPath>
      ....
    </projectPath>

  </backend>
  <frontend>
    
    <backendURL>
      ../../backend/
    </backendURL>
    
    <projectURL>
      file://...
    </projectURL>
    
  </frontend>
</config>